
.select-wrapper {
    position: relative;
    user-select: none;
    width: 200px;
    background: #901c1c;
    align-items: center;
    border-radius: 5px;
}
.select-wrapper div{
    color: white;
    
}
select {
    border-radius: 5px;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 10px;
    
}
.select__trigger {
    -webkit-appearance: none;
    position: absolute;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 20px;
    font-weight: 300;
    color: #3b3b3b;
    height: 80px;
    line-height: 60px;
    background: #901c1c;
    cursor: pointer;
    border: none;
    
}
ul{
    padding-left:0px;
    margin-left: 10px;
    
}

li{
    color: white;
    border-radius: 2px;
    list-style: none;
    font-size: 24px;
    background: #901c1c;
    height: 40px;
    
}
.not-first-li {
    border-top: solid white;
    padding-top: 20px;
    border-width: 2px;
    margin-left: 10px;
    padding-left: 10px;
    margin-right: 10px;
    
}



.not-first-li:hover {
    cursor: pointer;
    background-color: #631414;
    
}
option:before {
    content: ">";
    font-size: 8px;
    display: none;
    padding-right: 10px;
    padding-left: 5px;
    color: #fff;
}

li .selected {
    color: white;
    background-color: #305c91;
}
.first-li{
    margin-top: 20px;
    margin-left: 20px;
}

/*
.arrow:active {
    
    animation-name: spin;
    animation-duration: 100ms;
    animation-iteration-count: initial;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}*/

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(180deg);
    }
}
.arrow {
    color: white;
    position: absolute;
    right: 10px;
    top: 25px;
    
}
