
.select-wrapper {
    position: relative;
    user-select: none;
    display: flex;
    width: 200px;
    background: #901c1c;
    align-items: center;
    
}
.select-wrapper div{
    color: white;
    
}
select {
    border-radius: 5px;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 10px;
    
}
.select__trigger {
    -webkit-appearance: none;
    position: absolute;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 20px;
    font-weight: 300;
    color: #3b3b3b;
    height: 80px;
    line-height: 60px;
    background: #901c1c;
    cursor: pointer;
    border: none;
    
}
option {
    font-size: 8px;
    background: #901c1c;
    height: 20px;
}



option:hover {
    cursor: pointer;
    background-color: #631414;
    
}
option:before {
    content: ">";
    font-size: 8px;
    display: none;
    padding-right: 10px;
    padding-left: 5px;
    color: #fff;
}

option.selected {
    color: white;
    background-color: #305c91;
}


.arrow {
    color: white;
    position: absolute;
    right: 10px;
    height: 15px;
    width: 15px;
}
.arrow::before, .arrow::after {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 0.15rem;
    height: 100%;
    transition: all 0.5s;
    color: white;
}
.arrow::before {
    left: -5px;
    transform: rotate(45deg);
    background-color: white;
    
}
.arrow::after {
    left: 5px;
    transform: rotate(-45deg);
    background-color: white;
}

